<div class="a404-body">
    <div class="a404-header"></div>
    <div class="a404-content" ng-mousemove="notFound.mousemove($event)">
        <h2 class="a404-smash_page">
            <a ui-sref="index" title="Back to Blog homepage">BLOG SMASH PAGE (NOT FOUND)</a>
        </h2>
        <div class="a404-smash" id="smash">
            <div class="a404-skull">
                <div class="a404-eyes">
                    <img alt="Eyes01" id="a404-pupils" src="images/eyes01-649792cb4a1bbda9cfc7fae597b93306.png">
                    <img alt="Hilites02" id="a404-hilites" src="images/hilites02-c18523c7dc7b248ad440e3d96d19d9da.png">
                </div>
                <img ng-click="notFound.ao($event)" alt="Face04" class="a404-face" src="images/face04-b3f21da17a6db07fca8099ffccb6e9d7.png">
            </div>
        </div>
    </div>
</div>
