<div class="panel panel-default" ng-hide="article.errorMsg">
    <div class="panel-heading">
        <h1 ng-bind="article.title" style="margin-top:0;"></h1>
        <div class="fg-gray">
            <span>•&nbsp;发布于  {{article.time | date :'yyyy/MM/dd HH:mm' }}</span>&nbsp;&nbsp;
            <span>•&nbsp;作者  {{article.name}}</span>
        </div>
        <div class="fg-gray mt5 font17" ng-show="article.enableEdit">
            <i class="glyphicon glyphicon-edit pointer mr20" ng-click="article.editArticle()"></i>
            <i class="glyphicon glyphicon-trash pointer" ng-click="article.removeArticle()"></i>
        </div>
    </div>
    <div class="panel-body" ng-bind-html="article.content | toHtml">
    </div>
</div>
<div class="alert alert-danger" role="alert" ng-bind="article.errorMsg" ng-show="article.errorMsg"></div>
