<!DOCTYPE html>
<html lang="en" ng-app="Blog">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <base href="/">
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="plugins/markdown-editor/css/editor.css" rel="stylesheet">
    <link href="css/highlight-skins/github-gist.css" rel="stylesheet">
    <link href="plugins/imgAreaSelect/css/imgareaselect-default.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div ui-view></div>
    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/components/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="/components/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="plugins/markdown-editor/js/editor.js"></script>
    <script type="text/javascript" src="plugins/imgAreaSelect/js/imgareaselect.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/factory.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/directive.js"></script>
</body>

</html>
