<div class="panel panel-default">
    <div class="panel-heading" ng-bind="side.title"></div>
    <div class="panel-body">
        <span ng-show="side.showUser" class="user" ng-click="side.stateToUser()">
    		<img src="images/default.png" alt="头像" class="userImg">
        	<span ng-bind="side.name" class="font16"></span>
        </span>
        <a ui-sref="index.login" class="btn btn-primary" ng-show="side.showLoginBtn">登录</a>
    </div>
</div>
<div class="panel panel-default" ng-show="side.showPostBtn">
    <div class="panel-body">
        <a ui-sref="index.post" class="btn btn-primary">发布话题</a>
    </div>
</div>
