.blog-article {
    vertical-align: -9px;
    font-size: 18px;
    max-width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.blog-article + div {
    display: inline-block;
    margin-top: 7px;
    float: right;
}

#editor {
    display: none;
}

.mk {
    padding: 0;
}

.mk ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.mk li {
    padding: 10px 5px;
}

.error {
    color: red;
}

.fg-gray {
    color: gray;
}

.pagination {
    margin: 0;
}

.font16 {
    font-size: 16px;
}

.user {
    cursor: pointer;
}

.userImg {
    border-radius: 3px;
    margin: 0 5px;
}

.userImg-small {
    width: 30px;
    height: 30px;
}
.hidden{
    display: none;
}
#imgPreview {
    width: 200px;
    /*max-height: 300px;*/
    margin: 0 auto;
    display: block;
}
